.heading {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
}

.text-box {
    margin: 2% 10% 2% 10%;
}

.plotly-graph {
    margin: 1% 10% 5% 10%;
    border: 1px solid black;
}